nav {
    font-size: 2.3em;
}

@media (min-width: 768px) {
    .myMenu li {
        padding: 0 7px;
    }
}

@media (max-width: 768px) {
    .myMenu li {
        width: 100%;
        text-align: center;
        border-bottom: 0.1px solid white;
    }
}
